// from the base16 color schemes 
// https://github.com/chriskempson/base16
// eighties

$_base00: #2d2d2d; //darkest blue
$_base01: #393939; //dark blue
$_base02: #515151; //darkest gray
$_base03: #747369; //dark gray
$_base04: #a09f93; //medium gray
$_base05: #d3d0c8; //medium light gray
$_base06: #e8e6df; //light gray
$_base07: #f2f0ec; //lightest gray

$_base08: #f2777a; //red
$_base09: #f99157; //orange
$_base0A: #ffcc66; //yellow
$_base0B: #99cc99; //green
$_base0C: #66cccc; //cyan
$_base0D: #6699cc; //blue
$_base0E: #cc99cc; //violet
$_base0F: #d27b53; //magenta

$pre-marker:              rgba(#00baff, .5) !default;
$pre-marker-border:       rgba($pre-marker, .13) !default;
$pre-marker-border-left:  $pre-marker;

$code-bg:                 rgba(#fff, .3); // slate gray (spacegray)
$code-bg-light: #dfe1e8;
$code-border:             rgba(#000, .1);
